@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--green: #1caea7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f6f6f6;
}

/* Header */
header .navbar .container {
	border-bottom: 1px solid #dcdcdc;
}

header .navbar .navbar-brand {
	font-size: 16px;
	font-weight: 700;
	color: var(--green);
}

header .navbar .navbar-brand span {
	color: #fff;
	background-color: var(--green);
	padding: 10px 8px;
	border-radius: 4px;
	margin-right: 8px;
}

header .navbar .nav-item .nav-link {
	font-size: 16px;
	color: #a3a3a3;
}

header .navbar .nav-item .nav-link.active {
	font-weight: 700;
	color: var(--green);
}

header .navbar .userPhoto {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

/* Categories Section */
.categoriesSection {
	padding: 30px 0 40px 0;
}

.categoriesSection #categoriesList {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
}

.categoriesSection #categoriesList li {
	font-size: 18px;
	color: #858585;
	padding: 5px 10px;
	cursor: pointer;
}

.categoriesSection #categoryItemsCount>span {
	width: 100%;
	font-size: 18px;
	color: #000;
	background: #fff;
	display: inline-block;
	padding: 20px;
	border-radius: 8px;
	margin-top: 40px;
}

.categoriesSection #categoryItemsCount span span {
	font-weight: bold;
}

/* News */

/* Footer */
footer {
	font-size: 16px;
	font-weight: 700;
	color: #949494;
}